[Unit]
Description=NewDotService
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/NewDot/run.sh 2>&1

[Install]
WantedBy=multi-user.target

